#game {
    background-color: silver;
}

#game div {
    float: left;
    background-image: url("sprite.gif");
}

div {
    display: block;
}

.tile {
    background-position: 0 -32px;
    width: 32px;
    height: 32px;
}